@{
    ViewBag.Title = "Index";
}

<article>
    <header>
        <h2>Dapat bang diligan ng suka ang natutuyong lumpia?</h2>
        <time>
            <span>March</span>
            <span>14</span>
            <span>2014</span>
        </time>
    </header>
    <div>
        <p>Kung kelan nagdarasal akong huwag umulan, saka naman tila nanunukso ang panahon. At kahit sisihin ko pa ang sarili ko sa hindi pagsunod sa batas ng Boy Scout na dapat ay “laging handa” tuwing lalabas ng bahay, wala na akong magagagawa kundi ang umilag-ilag sa mga “kaaway”. Ang problema, inabot akong walang kalaban-laban sa gitna ng kalsada. Papatawid sa sakayan. Wala nang pagkakataon para umiwas-pusoy.</p>
        <p>Ginamit ko ang face towel na dala ko para ipagtanggol (kahit man lang ang ulo ko) sa mga kaaway habang nag-i-i-step-yes-step-no sa pedestrian lane. Huli na nang maisip kong hindi pala ako pwedeng lumaban sa giyera kung ang dala-dala ko’y bread knife sa halip na bazooka.</p>
        <p>Habang nakikipagsiksikan sa isang waiting shed sa Quiapo, naiisip ko ang mga batang palaboy sa lansangan na nagpipilit maghanap ng ikabubuhay para sa sarili at sa pamilya kahit umuulan. Ang mga batang sa bubot na isip ay nagagawang maghanap ng pagkain sa legal na paraan na ipandudugtong sa hininga ng mga kapatid at magulang. Napi-picture ko ang mga musmos na mula pagdilat ng mga mata ay nakikipagpatintero na sa mga humahagibis na sasakyan.</p>
    </div>
</article>
